@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

html {
  height: 100%;
  background: url('./images/tower.jpg') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#root, #root > div, .dashboard-container  {
  min-height: 100%;
  position:absolute; 
  top:0; 
  bottom:0; 
  right:0; 
  left:0; 
}

.loading-prompt-login {
  padding-top: 20px;
  padding-left: 50px;
  font-size: 20px;
}
