.log-in {
  width: 100%;
}

.log-in .global-container {
  max-width: 700px;
  margin: 120px auto 30px;
  text-align: center;
}

.prompt-bin .btn-container {
  text-align: center;
}

.prompt-bin .btn-container button {
  display: inline-block;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 60px;
  padding-right: 60px;
  background-color: transparent;
  border: 2px solid #306ace;
  color: #306ace;
  border-radius: 5px;
}
