.log-in {
  background-color: rgba(229, 239, 249, 1);
  color: #2D2F31;
  min-height: 100%;
}

.bg {
  display: none; 
  z-index: -1;
}

.log-in .global-container {
  max-width: 1020px;
  margin: 100px auto 30px;
  text-align: center;
  padding: 0 20px;
}

.log-in .global-container h1 {
  font-size: 36px;
}

.prompt-bin .btn-container {
  text-align: center;
}

.prompt-bin .btn-container button {
  display: inline-block;
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 50px;
  padding-right: 50px;
  border: none;
  background-color: transparent;
  color: #0066cc;
  border-radius: 5px;
  cursor: pointer;
}


@media only screen and (min-width: 800px) {
  .log-in {
    background-color: rgba(229, 239, 249, 0.75);
    color: #2D2F31;
  }
  .bg {
    display: initial;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
  }
  .prompt-bin .btn-container button {
    border: 1px solid #2D2F31;
    color: #2D2F31;
  }
}

@media only screen and (max-width: 399px) {
  .log-in .global-container h1 {
    font-size: 22px;
  }
}