.log-in {
 background-color: rgba(229, 239, 249, 0.92);
 color: #2D2F31;
 min-height: 100%;
}

.log-in .global-container {
  max-width: 700px;
  margin: 100px auto 30px;
  text-align: center;
}

.log-in .global-container h1 {
  font-size: 36px;
}

.prompt-bin .btn-container {
  text-align: center;
}

.prompt-bin .btn-container button {
  display: inline-block;
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 50px;
  padding-right: 50px;
  border: 2px solid #0066cc;
  background-color: transparent;
  color: #0066cc;
  border-radius: 5px;
  cursor: pointer;
}
