.dashboard-container {
  color: #4a4a4a;
}

.under-header {
  height: 100%;
  display: flex;
}

@media only screen and (max-width: 490px) {
	.under-header {
		display: block;
	}
}

.main-component-container {
  width: 80%;
  padding-right: 15%;
  background-color: #f7fafd; 
}

@media only screen and (max-width: 490px) {
  .main-component-container {
    padding-right: 0;
    margin: auto;
  }
  .main-component {
    margin: 20px;
  }
}
.main-component {
  max-width: 500px;
  margin: 60px auto 30px;
}
