.dashboard-container {
  color: #4a4a4a;
}

.under-header {
  height: 100%;
  display: flex;
}

.main-component-container {
  width: 80%;
  padding-right: 15%;
  background-color: #E5EFF9;
}

.main-component {
  max-width: 500px;
  margin: 60px auto 30px;
}
