.quiz-select-menu {
  max-width: 350px;
  text-align: center;
}

.quiz-select-menu ul {
  padding-left: 0;
}

.quiz-select-menu ul li {
  list-style: none;
  margin-top: 15px;
}

.quiz-select-menu ul li span {
  padding: 3px 40px 3px;
  border-radius: 5px;
  cursor: pointer;
}

.quiz-select-menu ul li span:hover {
  background-color: #3796e1;
  color: #fff;
}
