.quiz-select-menu ul {
  padding-left: 0;
}

.quiz-select-menu ul li {
  list-style: none;
  display: inline-block;
	margin: 0.75em;
  padding: 1.35em 1.1em;
	width: 15em;
	background: #fffce1;
  text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 800;
	border-radius: 20px/50px;
  text-align: center;
  cursor: pointer;
}

.main-component .select-title {
  margin-left: 0.75em;
  width: 32.2em;
  text-align: center;
}

.back-option {
  margin-top: 35px;
  cursor: pointer;
}

.back-option:hover {
  color: #0066cc;
}

