.sidebar {
  width: 22%;
  height: 100%;
  border-right: 1px solid #D1D1D1;
  color: #fff;
  background-color: #0066cc;
}

.sidebar ul {
  padding-top: 20px;
  padding-left: 20%;
}

.sidebar li {
  list-style: none;
  font-size: 22px;
  margin-top: 60px;
  cursor: pointer;
}

.sidebar li .icon-wrapper {
  font-size: 26px;
  margin-right: 12px;
  vertical-align: text-bottom;
}

@media only screen and (max-width: 880px) {
  .sidebar {
    height: auto;
    width: initial;
    border-right: none;
  }
  .sidebar li .icon-wrapper {
    display: none;
    margin-right: 0;
  }
  .sidebar ul {
    padding: 30px 0;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .sidebar li {
    padding-top: 0px;
    margin-top: 5px;
  }
  .sidebar li:last-child {
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media only screen and (max-width: 399px) {
  .sidebar li {
    font-size: 14px;
  }
}

