.sidebar {
  width: 20%;
  height: 100%;
  border-right: 1px solid #D1D1D1;
  color: #fff;
  background-color: #0066cc;
}

.sidebar ul {
  padding-top: 20px;
}

.sidebar li {
  list-style: none;
  font-size: 18px;
  margin-top: 40px;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
	.sidebar ul {
		padding-left: 10px;
	}
}

@media only screen and (max-width: 640px) {
	.sidebar {
		width: 30%;
	}
}

@media only screen and (max-width: 490px) {
	.sidebar {
		width: 100%;
    height: 80px;
	}
  .sidebar ul {
    padding: 5px;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .sidebar li {
    padding-top: 0px;
    margin-top: 5px;
  }
}

.sidebar li .icon-wrapper {
  font-size: 24px;
  margin-right: 10px;
}

/*.sidebar:hover {
  width: 20%;
}*/
