.overlay {
	background: rgba(0, 0, 0, 0.9);
	color: lightgray;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	text-align: center;
	overflow: auto;
}

table {
	padding-top: 50px;
	margin: auto;
	overflow: scroll;
}

tr > td, tr > th {
	padding-left: 5px;
	padding-right: 5px;
}

th {
	background-color: #0066cc;
}

tr {
	border: 1px solid white;
}

tr:hover {
	background-color: #2c464f;
}

.overlay > p {
	padding-top: 100px;
	padding-left: 35%;
	padding-right: 35%;
}

.help {
	text-align: left;
	padding: 10px 170px 60px;
}

.help h2 {
	margin-top: 25px;
}

.modal-button {
	display: inline;
	padding-top: 3px;
  background: none;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.modal-button-wrapper {
	text-align: right;
	padding-right: 15%;
	padding-top: 50px;
}

.modal-button:hover {
	background-color: #0066cc;
  color: #fff;
}

th, td {
	border: 1px solid white;
	padding: 10px;
}

@media only screen and (max-width: 1041px) {
	.modal-button-wrapper {
		padding-right: 10%;
	}
}

@media only screen and (max-width: 700px) {
	.overlay > p {
		padding-left: 10%;
		padding-right: 10%;
	}
}

@media only screen and (max-width: 500px) {
	.overlay > table {
		font-size: 10pt;
	}
}

@media only screen and (max-width: 410px) {
	table {
		width: 410px;
	}
}