.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logout {
  padding-top: 11px;
  cursor: pointer;
}

.header .logo {
  font-size: 32px;
  margin-top: 0;
}

.user {
  display: flex;
}

.user p {
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;
}

.goog-logo, .sign-out-wrapper {
  padding-left: 5px;
  padding-right: 5px;
}

.sign-out-wrapper {
  padding-top: 5px;
}

a {
  text-decoration: none;
}

.google-container a {
  display: block;
  padding: 10px 35px;
  border-radius: 5px;
  border: 1px solid #2D2F31;
  margin-top: 2px;
}

.google-container img {
  vertical-align: middle;
}

.google-container span {
  color: #2D2F31;
  vertical-align: middle;
  padding-left: 20px;
}

.sign-out-anchor {
  text-align: center;
}

@media only screen and (max-width: 650px) {
  .log-in {
    padding-top: 50px;
  }
  .header {
    justify-content: center;
  }
  .header .logo {
    font-size: 52px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  .google-container a {
    line-height: 52px;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
  }
  .logout {
    line-height: 52px;
    margin-bottom: 50px;
  }
  .logout img {
    vertical-align: text-top;
  }
}

@media only screen and (max-width: 420px) {
  .header .logo {
    font-size: 46px;
  }
  .logout {
    line-height: 32px;
    font-size: 12px;
  }
  .google-container a {
    line-height: 32px;
    font-size: 14px;
    padding-left: 0;
    padding-right: 0;
    border: none;
  }
  .google-container span {
    padding-left: 5px;
  }
}

@media only screen and (max-width: 340px) {
  .header .logo {
    font-size: 36px;
  }
}